.exercice-baseline-1 .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  flex-wrap: nowrap;
}

.exercice-baseline-2 .container

.exercice-baseline-3 .container

.exercice-flow-1 .container

.exercice-flow-2 .container

.exercice-all-in-1 .container

.exercice-all-in-2 .container
