/* 1. exercice-baseline-1 */
.exercice-baseline-1 .container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

/* 2. exercice-baseline-2 */
.exercice-baseline-2 .container{
  display: flex;
  flex-direction: row;
}

.exercice-baseline-2 .container .element-pink,
.exercice-baseline-2 .container .element-red{
  justify-content: flex-end;
}

/* 3. exercice-baseline-3 */
.exercice-baseline-3 .container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  align-content: center;
  
}
/* 4. exercice-flow-1 */
.exercice-flow-1 .container{
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

/* 5. exercice-flow-2 */
.exercice-flow-2 .container{
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-flow: row wrap;
}
/* 6. exercice-all-in-1 */
.exercice-all-in-1 .container{
  display: flex;
  flex-flow: column-reverse wrap-reverse;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}


/* 7. exercice-all-in-2 */
.exercice-all-in-2 .container{
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: flex-start;
  align-content: center;
}

.exercice-all-in-2 .container .element-blue,
.exercice-all-in-2 .container .element-pink{
  flex-grow: 1;
}

.exercice-all-in-2 .container .element-pink{
  order: 1;
}
