/* 1. exercice-baseline-1 */
.exercice-baseline-1 .container-small{
  display:flex;
  align-items: baseline;
}
/* 2. exercice-baseline-2 */
.exercice-baseline-2 .container-small {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  flex-wrap: wrap-reverse;
}

/* 3. exercice-baseline-3 */
.exercice-baseline-3 .container-small {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  align-items: baseline;
}
/* 4. exercice-flow-1 */
.exercice-flow-1 .container-set {
  display: flex;
  flex-wrap: wrap;
}
/* 5. exercice-flow-2 */
.exercice-flow-2 .container-small {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* 6. exercice-all-in-1 */
.exercice-all-in-1 .container-set {
  display: flex;
  flex-flow: column-reverse wrap-reverse;
  justify-content: space-between;
  align-content: center;
}
/* 7. exercice-all-in-2 */
