/* 1. exercice-baseline-1 */
.exercice-baseline-1 .container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

/* 2. exercice-baseline-2 */
.exercice-baseline-2 .container{
  display: flex;
  flex-direction: row;
}

.exercice-baseline-2 .container .element-pink,
.exercice-baseline-2 .container .element-red{
  justify-content: flex-end;
}

/* 3. exercice-baseline-3 */
.exercice-baseline-3 .container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  align-content: center;
  
}
/* 4. exercice-flow-1 */
.exercice-flow-1 .container{
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

/* 5. exercice-flow-2 */

/* 6. exercice-all-in-1 */

/* 7. exercice-all-in-2 */
