/* 1. exercice-baseline-1 */
.exercice-baseline-1 .container-small{
  display: flex;
  align-items: baseline;
}
/* 2. exercice-baseline-2 */
.exercice-baseline-2 .container-small {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: baseline;
  justify-content: flex-end;
}
/* 3. exercice-baseline-3 */
.exercice-baseline-3 .container-small{
  display:flex;
  flex-direction:row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: center;
}


/* 4. exercice-flow-1 */
.exercice-flow-1 .container-set{
  display: flex;
  flex-flow: wrap row;
}
/* 5. exercice-flow-2 */
.exercice-flow-2 .container-small{
  display: flex;
  flex-flow: row wrap;
}

/* 6. exercice-all-in-1 */
.exercice-all-in-1 .container-set{
  display: flex;
  flex-flow: column-reverse wrap-reverse;
  align-content: center;
  justify-content: space-between;
}

/* 7. exercice-all-in-2 */
.exercice-all-in-2 .container-small{
  display: flex;
  flex-flow: wrap row;
  align-content: center;
  align-items: baseline;
}
.exercice-all-in-2 .element-blue{
  flex-grow: 1;
}
.exercice-all-in-2 .element-pink{
  order: 1;
  flex-grow: 1;
}