/* 1. exercice-baseline-1 */
.exercice-baseline-1 .container-small {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

/* 2. exercice-baseline-2 */
.exercice-baseline-2 .container-small {
  display: flex;
  flex-direction: row-reverse;
  vertical-align: baseline;
  flex-wrap: wrap-reverse;
}

.exercice-baseline-2 .element-blue {
  flex-grow: 1;
  align-self: flex-start; 
}

.exercice-baseline-2 .element-yellow {
  flex-grow: 1;
  align-self: flex-start; 
}

/* 3. exercice-baseline-3 */
.exercice-baseline-3 .container-small {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* 4. exercice-flow-1 */
.exercice-flow-1 .container-set {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* 5. exercice-flow-2 */
.exercice-flow-2 .container-small {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* 6. exercice-all-in-1 */
.exercice-all-in-1 .container-set {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-content: center;
}

/* 7. exercice-all-in-2 */
.exercice-all-in-2 .container-small {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: baseline;
}

.exercice-all-in-2 .element-pink {
  order: 1;
  flex-grow: 1;
}

.exercice-all-in-2 .element-blue {
  flex-grow: 1;
}