/* 1. exercice-baseline-1 */

.exercice-baseline-1 .container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}



/* 2. exercice-baseline-2 */

.exercice-baseline-2 .container {
  display: flex;
  flex-direction: column-reverse;
  align-items: baseline;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* 3. exercice-baseline-3 */

.exercice-baseline-3 .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* 4. exercice-flow-1 */

.exercice-flow-1 {
  display: flex;
  flex-direction: row;
}

/* 5. exercice-flow-2 */

/* 6. exercice-all-in-1 */

/* 7. exercice-all-in-2 */
