/* 1. exercice-baseline-1 */
.exercice-baseline-1 .container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
/* 2. exercice-baseline-2 */
.exercice-baseline-2 .container {
  display: flex;
  flex-direction: column-reverse;
  align-items: baseline;
}
/* 3. exercice-baseline-3 */
.exercice-baseline-3 .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/* 4. exercice-flow-1 */
.exercice-flow-1 .container {
  display: flex;
  flex-flow:row wrap;
}
/* 5. exercice-flow-2 */
.exercice-flow-2 .container {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
}
/* 6. exercice-all-in-1 */
.exercice-all-in-1 .container {
  display: flex;
  flex-flow: column-reverse wrap-reverse;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

/* 7. exercice-all-in-2 */
.exercice-all-in-2 .container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-flow: wrap;
  align-content: center;
}

.exercice-all-in-2 .element-pink {
  order: 1;
}

.exercice-all-in-2 .element-blue {
  flex-grow: 1;
}

.exercice-all-in-2 .element-pink {
  flex-grow: 1;
}